body {
    font-family: Arial;
}

#cuccina-image {
    width: 100%;
}

.question-chooser-question {
    cursor: pointer;
}

#question-chooser-list {
    list-style: none;
}

#dialog-box {
    width: 50%;
    margin: 0 auto;
}

#answer-box {
    text-align: right;
}

.odd-question {
    background-color: lightgray;
    padding: .5rem;
    border-radius: 5px;
}

.even-question {
    background-color: darkgray;
    padding: .5rem;
    border-radius: 5px;
}